<header class="header">
    <div class="logo-container">
        <a href="index.html"><img src="assets/images/logo.png" alt="Site Logo" class="site-logo"></a>
    </div>
    <ul class="nav-links">
        <li><a href="index.html">Anasayfa</a></li>
        <li><a href="services.html">Hizmetlerimiz</a></li>                
        <li><a href="information.html">Hakkımızda</a></li>
        <li><a href="contact.html">İletişim</a></li>
    </ul>
    <span class="menu-btn" onclick="openSidebar()">&#9776;</span>
</header> 