<div class="sidebar" id="sidebar">
    <span class="close-btn" onclick="closeSidebar()">&times;</span>
    <a href="index.html">Anasayfa</a>
    <div class="dropdown">
        <a class="dropdown-toggle" href="services.html">
            Hizmetlerimiz &nbsp;
        </a>
        <ul class="sidebar-dropdown">
            <li><a href="road-assistance.html">Yol Yardım</a></li>
            <li><a href="tire-change.html">Lastik Tamiri</a></li>
            <li><a href="battery-change.html">Akü Takviye</a></li>
        </ul>
    </div>
    <a href="information.html">Hakkımızda</a>
    <a href="contact.html">İletişim</a>
    <a class="sidebar-link contact-phone"><p><span class="contact-icon"><i class="fas fa-phone"></i></span>Hemen Arayın</p></a>
    <a class="sidebar-link contact-whatsapp" style="border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(180, 177, 177);"><p><span class="contact-icon"><i class="fab fa-whatsapp"></i></span>Konum Gönder</p></a>
</div> 