<div class="top-bar" role="contentinfo" aria-label="Üst Bilgi">
  <address class="contact-info" style="font-style: normal;">
    <span>
      <i class="fas fa-phone" aria-hidden="true"></i>
      <a href="tel:+905428082875" aria-label="Telefon numarası: +90 542 808 2875" style="color: black; text-decoration: none;">
        +90 542 808 2875
      </a>
    </span>
    <span>
      <i class="fas fa-phone" aria-hidden="true"></i>
      <a href="tel:+905436674974" aria-label="Telefon numarası: +90 543 667 4974" style="color: black; text-decoration: none;">
        +90 543 667 4974
      </a>
    </span>
    <span>
      <i class="fas fa-envelope" aria-hidden="true"></i>
      <a href="mailto:emirotolastik06@gmail.com" aria-label="E-posta gönder: emirotolastik06@gmail.com" style="color: black; text-decoration: none;">
        emirotolastik06@gmail.com
      </a>
    </span>
  </address>
  
  <div class="social-media">
    <span>Konum göndermek için tıklayın: </span>
    <a
      href="https://wa.me/905428082875"
      target="_blank"
      rel="noopener"
      aria-label="WhatsApp ile konum gönder"
    >
    <i class="fab fa-whatsapp contact-whatsapp" aria-hidden="true"></i>
    </a>
  </div>
</div>