<div class="top-bar">
    <div class="contact-info">
        <span><i class="fas fa-phone"></i><a href="tel:+905428082875" style="color: black; text-decoration: none;"> +90 542 808 2875 </a></span>
        <span><i class="fas fa-phone"></i><a href="tel:+905436674974" style="color: black; text-decoration: none;"> +90 543 667 4974 </a></span>
        <span><i class="fas fa-envelope"></i>
            <a href="mailto:emirotolastik06@gmail.com" style="color: black; text-decoration: none;"> emirotolastik06@gmail.com </a>
        </span>
    </div>
    <div class="social-media">
        <span>Konum göndermek için tıklayın: </span>
        <a href="#"><i class="fab fa-whatsapp contact-whatsapp"></i></a>
    </div>
</div>