<div class="top-bar">
    <div class="contact-info">
        <span><i class="fas fa-phone"></i> +90 542 808 2875 </span>
        <span><i class="fas fa-phone"></i> +90 543 667 4974 </span>
        <span><i class="fas fa-envelope"></i> emirotolastik06@gmail.com </span>
    </div>
    <div class="social-media">
        <span>Sosyal Medya:</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-telegram"></i></a>
        <a href="#"><i class="fas fa-phone contact-phone"></i></a>
        <a href="#"><i class="fab fa-whatsapp contact-whatsapp"></i></a>
    </div>
</div> 